<!DOCTYPE html>
{%load static %}
{% load crispy_forms_tags%}
<html lang="en">
    <head>
        <title>{% block title %} Inicio SG-CG {% endblock %}</title>
        
        
        <link href= "{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'js/all.js' %}" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link href= "{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">
        <link href= "{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
        <link href= "{% static 'css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" >
        <link href= "{% static 'css/datatables.min.css' %}" rel="stylesheet" >
        <link href= "{% static 'css/dataTables.dateTime.min.css' %}" rel="stylesheet" >
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        
    
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark ">
            <!-- Navbar Brand-->
            <img class="navbar-brand jus" src= {% static '/img/LogoCG.png' %}/>
            <!-- Sidebar Toggle-->
            {% if user.is_authenticated%}
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="bi bi-list-stars"></i></button>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li><a class="nav-link" href="{% url 'index' %}">Bienvenido</a></li>
                {% if perms.auth.add_user %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Administrador</a>
                </li>
                <li>
                        <a class="nav-link" href="{% url 'principal:register' %}">Registrar Usuario</a>
                    
                </li>
                {%endif%}
                <li>            
                    
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'principal:user_login' %}">Iniciar Sesión</a>
                    {% endif %}
                    
                </li>
                
            </ul>
    
            {% else%}
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li><a class="nav-link active" href="{% url 'principal:user_login' %}">Iniciar Sesión</a></li>
            </ul>
            {% endif%}
            {% if user.is_authenticated %}
            <!-- Navbar-->
        </nav>
        {% endif %}
        {% if user.is_authenticated %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            {% comment %} <div class="sb-sidenav-menu-heading">Inicio</div>
                            <a class="nav-link" href="{% url 'index' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Usuarios
                            </a> {% endcomment %}
                            {%if perms.principal.view_cliente%} 
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseResumen" aria-expanded="false" aria-controls="collapseResumen">
                                <div class="sb-nav-link-icon"><i class="bi bi-clipboard-data-fill"></i></div>
                                Resumen
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseResumen" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'resumen' %}">Ver</a>
                                    {% comment %} <a class="nav-link" href="{% url 'agregar_cliente' %}">Añadir</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Eliminar</a> {% endcomment %}
                                </nav>
                            </div>
                            {%endif%}
                            {%if perms.principal.add_colaborador%}   
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseColaboradores" aria-expanded="false" aria-controls="collapseColaboradores">
                                <div class="sb-nav-link-icon"><i class="bi bi-person-heart"></i></div>
                                Colaboradores
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseColaboradores" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'lista_colaborador' %}">Lista</a>
                                    {% comment %} <a class="nav-link" href="{% url 'agregar_cliente' %}">Añadir</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Eliminar</a> {% endcomment %}
                                </nav>
                            </div>
                            {%endif%}
                            {%if perms.principal.add_cliente%} 
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseClientes" aria-expanded="false" aria-controls="collapseClientes">
                                <div class="sb-nav-link-icon"><i class="bi bi-person-hearts"></i></div>
                                Clientes
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseClientes" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'lista_cliente' %}">Lista</a>
                                    {% comment %} <a class="nav-link" href="{% url 'lista_credito' %}">Credito</a> {% endcomment %}
                                </nav>
                            </div>
                            {%endif%}
                            {%if perms.principal.add_inventario%}  
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventario" aria-expanded="false" aria-controls="collapseInventario">
                                <div class="sb-nav-link-icon"><i class="bi bi-box2-heart-fill"></i></div>
                                Inventario
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseInventario" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'lista_inventario' %}">producto</a>
                                    <a class="nav-link" href="{% url 'lista_categorias' %}">categoria</a>
                                </nav>
                            </div>
                            {%endif%}
                            {%if perms.principal.add_proveedor%}  
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProveedores" aria-expanded="false" aria-controls="collapseVentas">
                                <div class="sb-nav-link-icon"><i class="bi bi-person-lines-fill"></i></div>
                                Proveedores
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseProveedores" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'lista_proveedor' %}">Lista</a>
                                </nav>
                            </div>
                            {%endif%}
                            {%if perms.principal.add_detallecomprobantecompra%}  
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCompras" aria-expanded="false" aria-controls="collapseVentas">
                                <div class="sb-nav-link-icon"><i class="bi bi-bag-heart-fill"></i></div>
                                Compras
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseCompras" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'lista_compras' %}">Lista</a>
                                </nav>
                            </div>
                            {%endif%}
                            {%if perms.principal.add_detallecomprobanteservicio%}  
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseServicios" aria-expanded="false" aria-controls="collapseVentas">
                                <div class="sb-nav-link-icon"><i class="bi bi-tools"></i></div>
                                Servicios
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseServicios" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'lista_servicio' %}">Lista</a>
                                </nav>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Inicio de sesion como:</div>
                        {{user.username}}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                {%block body_block%}
                {%endblock%}   
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; SG-CG 2022</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% endif %}
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
        <script src="{% static 'js/pdfmake.min.js' %}"></script>
        <script src="{% static 'js/vfs_fonts.js' %}"></script>
        <script src="{% static 'js/datatables.min.js' %}"></script>
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script src="{% static 'js/dataTables.dateTime.min.js' %}"></script>
        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script src="{% static 'js/sum().js' %}"></script>
        <script src="{% static 'js/tablas.js' %}"></script>
    </body>
</html>
