{% extends 'principal/base.html' %}
{%block body_block%}

<div class="container-fluid fixed">
    <h1>Lista de Colaboradores</h1>
    <a href="{% url 'crear_colaborador' %}" class="btn btn-outline-primary mb-3 mt-5">
        <i class="fas fa-plus"></i>&nbsp;&nbsp; Colaborador
    </a>

    <table id = "colaborador" class="table table-bordered">
        <thead class = "table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>DPI</th>
                <th>puesto</th>
                <th>Fecha de nacimiento</th>
                <th>Sueldo</th>
                <th> Modificar</th>
                <th> Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in object_list%}
            <tr>
                <td> {{colaborador.id}} <br></td>
                <td>{{colaborador.nombre}}</a></td>
                <td>{{colaborador.apellido}}</td>
                <td>{{colaborador.numero_de_telefono}}</td>
                <td>{{colaborador.DPI}}</td>
                <td>{{colaborador.puesto}}</td>
                <td>{{colaborador.fecha_de_nacimiento}}</td>
                <td>Q {{colaborador.sueldo}}</td>
                <td>
                    <a href="{% url 'modificar_colaborador' pk=colaborador.id %}" class = "btn btn-primary btn-sm">
                        <i class= "fas fa-pen"></i>
                    </a>
                </td>        
                <td>
                    <a href="{% url 'borrar_colaborador' pk=colaborador.id %}" class = "btn btn-danger btn-sm">
                        <i class= "fas fa-trash-alt"></i>
                    </a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>        
    </table>
    

</div>
{%endblock%}