{% extends "principal/base.html" %}
{% block title %} Compras {% endblock %}
{% block body_block %}
<div class="container-fluid">
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
            <tr>
                <td>Fecha Inicial:</td>
                <td><input type="date" id="min" name="min"></td>
                <td>Fecha Final:</td>
                <td><input type="date" id="max" name="max"></td>
            </tr>
        </tbody>
    </table>
    <div style="float:left;">
        <a class="btn btn-success" href="{% url 'crear_compras_proveedor' %}"><i class="bi bi-cart"></i><i class="bi bi-plus"></i> Añadir Compra</a> 
    </div>
    <table id="compras" class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th width="10%">No. Comprobante</th>
                <th width="15%">Proveedor</th>
                <th width="15%">Insumo Comprado</th>
                <th width="10%">Cantidad Comprada</th>
                <th width="15%">Precio Total de compra</th>
                <th width="10%">Fecha de Compra</th>
                <th width="25%">Acciones</th>
            </tr>
        </thead>
        <tbody>         
            {% for purchase in bills %}
            <tr>
                <td class="align-middle"> <p>{{ purchase.nocomp }}</p> </td>
                <td class=""> 
                    {% if purchase.proveedor.borrado %}
                        {{ purchase.proveedor }}<br> 
                    {% else %}
                        <a href="{% url 'proveedor' purchase.proveedor.nombre %}">{{ purchase.proveedor }}</a> <br> 
                    {% endif %}
                    <small style="color: #909494">Tel No : {{ purchase.proveedor.telefono }}</small> 
                </td>
                <td class="align-middle">{% for item in purchase.get_lista_unidad %} {{ item.inventario.nombre }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_lista_unidad %} {{ item.cantidad }} <br> {% endfor %}</td>     
                <td class="align-middle">Q{{ purchase.get_total_precio }}</td>
                <td class="align-middle">{{ purchase.fecha.date|date:"Y/m/d" }}</td>
                <td class="align-middle"> <a href="{% url 'compra_comprobante' purchase.nocomp %}" class="btn btn-secondary btn-sm">Ver Comprobante</a> <a href="{% url 'eliminar_compra' purchase.pk %}" class="btn btn-danger btn-sm">Eliminar Comprobante</a> </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th ></th>
                <th></th>
                <th></th>
                <th style="text-align:right">Total:</th>
                <th style="text-align:center"></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock%}