{% extends 'principal/base.html' %}
{% block title %} Inventario {% endblock %}
{%block body_block%}
<div class="container-fluid">
    <a href="{% url 'crear_inventario' %}" class="btn btn-success mb-3 mt-5">
        <i class="bi bi-box2-heart"></i> <i class="fas fa-plus"></i>&nbsp;Producto
    </a>
    <table id ="inventario" class="table table-bordered text-center">
        <thead class = "table-dark">
            <tr>
                <th>ID</th>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Cantidad Actual</th>
                <th>Medida</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inventario in object_list%}
            <tr>
                <td> {{inventario.id}} <br></td>
                <td>{{inventario.categoria}}</a></td>
                <td>{{inventario.nombre}}</td>
                <td>{{inventario.cantidad}}</td>
                <td>{{inventario.medida}}</td>
                <td>
                    <a href="{% url 'modificar_inventario' pk=inventario.id %}" class = "btn btn-primary btn-sm">
                        <i class= "fas fa-pen"></i>
                    </a>
                    <a href="{% url 'borrar_inventario' pk=inventario.id %}" class = "btn btn-danger btn-sm">
                        <i class= "fas fa-trash-alt"></i>
                    </a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>        
    </table>
{%endblock%}