{% extends 'principal/base.html' %}
{%block body_block%}
<div class="container-fluid">
    <h1>Lista de Inventario</h1>
    <a href="{% url 'crear_inventario' %}" class="btn btn-outline-primary mb-3 mt-5">
        <i class="fas fa-plus"></i>&nbsp;&nbsp; Producto
    </a>
    <table class="table table-bordered text-center">
        <thead class = "table-primary">
            <tr>
                <th>ID</th>
                <th>categoria</th>
                <th>nombre</th>
                <th>cantidad</th>
                <th colspan ="2"> Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inventario in object_list%}
            <tr>
                <td> {{inventario.id}} <br></td>
                <td>{{inventario.categoria}}</a></td>
                <td>{{inventario.nombre_p}}</td>
                <td>{{inventario.cantidad}}</td>
                <td>
                    <a href="{% url 'modificar_inventario' pk=inventario.id %}" class = "btn btn-primary btn-sm">
                        <i class= "fas fa-pen"></i>
                    </a>
                </td>        
                <td>
                    <a href="{% url 'borrar_inventario' pk=inventario.id %}" class = "btn btn-danger btn-sm">
                        <i class= "fas fa-trash-alt"></i>
                    </a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>        
    </table>
</div>
{%endblock%}