{% extends 'principal/base.html' %}
{% block title %} Proveedores {% endblock %}
{%block body_block%}
<div class="container-fluid">
    <div class="float:left;">
        <a href="{% url 'crear_proveedor' %}" class="btn btn-success mb-3 mt-5">
            <i class="bi bi-person-lines-fill"></i><i class="fas fa-plus"></i>&nbsp;&nbsp; proveedor
        </a>
    </div>
    <table id="proveedores" class="table table-bordered text-center">
        <thead class = "table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>No. Gestión</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in object_list%}
            <tr>
                <td> {{proveedor.id}} <br></td>
                <td><a href="{% url 'proveedor' proveedor.nombre%}">{{proveedor.nombre}}</a></td>
                <td>{{proveedor.telefono}}</td>
                <td>{{proveedor.gestion}}</td>
                <td>
                    <a href="{% url 'modificar_proveedor' pk=proveedor.id %}" class = "btn btn-primary btn-sm">
                        <i class= "fas fa-pen"></i>
                    </a>
                    <a href="{% url 'borrar_proveedor' pk=proveedor.id %}" class = "btn btn-danger btn-sm">
                        <i class= "fas fa-trash-alt"></i>
                    </a>
                </td>        
            </tr>
            {% endfor %}
        </tbody>        
    </table>
</div>
{%endblock%}