{% extends "principal/base.html" %}
{%load static%}

{% block title %} Resumen {% endblock title %}
{% block body_block %}
<div class="container-fluid">
    <div style="color:#464646; font-style: bold; font-size: 3rem; border-bottom: 1px solid #464646;">Resumen:<br> inventario, servicios y compras</div>

    <br>

    <div id="container" style="position: relative; height:45vh; border: 1.2mm ridge #4e6570; border-radius: 30px;" class="align-middle table-bordered">
        <canvas id="bar-graph"></canvas>
    </div>

    <br>

    <div class="content-section">
        <div class="row">

            <div class="col-md-6">
                <div style="color: #4e6570; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #4e6570">Servicios Recientes</div><br>
                {% for item in sales %}
                    {% if not forloop.first %}
                        <br><div style="border-bottom: 0.5px solid #4e6570"></div><br>
                    {% endif %}
                    <div class="row">               
                        <div class="col-md-9"> 
                            Comprobante No: #{{ item.nocomp }} <br> 
                            Comprado por <b>{{ item.nombre }}</b> <br>
                            <small><i>{{ item.fechav.date }}</i></small>
                        </div>
                        <div class="col-md-2"> <br> Q {{ item.get_precio_total }} <br> <a href="{% url 'comprobante_servicio' item.nocomp %}">Ver Comprobante</a> </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-6">
                <div style="color: #4e6570; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #4e6570">Compras Recientes</div><br>
                {% for item in purchases %}
                    {% if not forloop.first %}
                        <br><div style="border-bottom: 0.5px solid #4e6570"></div><br>
                    {% endif %}
                    <div class="row">             
                        <div class="col-md-9"> 
                            No.Comprobante: #{{ item.nocomp }} <br> 
                            Comprado a <b>{{ item.proveedor.nombre }}</b> <br>
                            <small><i>{{ item.fecha.date }}</i></small>
                        </div>
                        <div class="col-md-2"> <br>Q {{ item.get_total_precio }} <br> <a href="{% url 'compra_comprobante' item.nocomp %}">Ver Comprobante</a> </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
    <!-- Loading Chart JS -->
    <script src="{% static 'js/Chart.min.js' %}"></script>  
    <script>
        Chart.defaults.global.defaultFontColor = '#3c3c3c';

        //configuration for the bar graph
        var barConfig = {
            type: 'horizontalBar',
            data: {
                datasets: [{
                    backgroundColor: ['rgba(255, 99, 132, 0.9)',
                    'rgba(255, 159, 64, 0.9)',
                    'rgba(255, 205, 86, 0.9)',
                    'rgba(75, 192, 192, 0.9)',
                    'rgba(54, 162, 235, 0.9)',
                    'rgba(153, 102, 255, 0.9)',
                    'rgba(201, 203, 207, 0.9)'],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                    ],
                    label: 'Insumos de la empresa',
                    data: {{ data|safe }},
                }],
                borderWidth: 1,
                labels: {{ labels|safe }}
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            },
        };


        //runs all charts on loading the webpage
        window.onload = function() {
            var ctx = document.getElementById('bar-graph').getContext('2d');
            window.BarStock = new Chart(ctx, barConfig);
        };

    </script>

{% endblock %}
